// app global css
body
    background-color: #F6F5FA
    color: $gray-primary

// Cards
.my-card
    border-radius: 15px !important
.rubro-card
    box-sizing: border-box
    padding: 10px
.rubro-content
    background-color: $gray-contrast !important
    height: 160px
.my-card:hover
    transition: .3s
    -webkit-box-shadow: 2px 7px 25px 2px rgba(0,0,0,0.20)
    -moz-box-shadow: 2px 7px 25px 2px rgba(0,0,0,0.20)
    box-shadow: 2px 7px 25px 2px rgba(0,0,0,0.20)
.padding-card
    box-sizing: border-box
    padding: 20px
.card-info
    box-sizing: border-box
    padding: 20px
// Modal
.my-modal
    width: 90% !important
    height: auto !important

// Buttons
button img
    border-radius: 100% !important
    border: solid 2px $primary
.my-btn
    width: 130px
.btn-editar:hover
    background-color: $warning !important
.btn-habilitar:hover
    background-color: $primary !important
.btn-eliminar:hover
    background-color: $negative !important
.btn-link:hover
    background-color: $info !important

// undefined
.search
    width: 208px
    border-radius: 30px

.my-shadow
    transition: .3s
    -webkit-box-shadow: 2px 7px 25px -8px rgba(0,0,0,0.36)
    -moz-box-shadow: 2px 7px 25px -8px rgba(0,0,0,0.36)
    box-shadow: 2px 7px 25px -8px rgba(0,0,0,0.36)

.bg-gray-secondary
    background-color: $gray-secondary