// app global css
body
    background-color #F6F5FA
    color #5f5f5f

.my-card
    border-radius 13px !important

button img
    border-radius 100% !important
    border solid 2px $primary

.my-modal
    width 90% !important
    height auto !important


